{% extends "base.html" %}
{% load static %}



{% block title %}شرکت جرثقیل سفیر{% endblock title %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}


{% block main %}
<main class="main rtl text-right">
    <div class="page-content">
        <section class="section-slider ">
            <div class="container section-slider-wrap">
                <div class="col-lg-6 slider-info">
                    <h1>اجاره جرثقیل های سبک و سنگین در تهران</h1>
                    <h3>ارایه ی کلیه ی خدمات جرثقیل در تهران</h3>
                    <p>شرکت جرثقیل سفیر  دارای به روز ترین ماشین آلات روز دنیا, آماده ارایه خدمات به هموطنان عزیز می باشد.</p>
                </div>
                <div class="col-lg-5">
                    <figure>
                        <a href="#">
                            <img src="{% static "images/home/5.png" %}" class="product-hover-image" alt="product">
                        </a>
                    </figure>
                </div>
            </div>
        </section>
        <section class="newarrival-section rtl text-right">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="about-img">
                            <div class="about-exp">
                                <span>درباره ما</span>
                            </div>
                            <div class="abt-img">
                                <img src="{% static "images/about/9.jpg" %}" class="img-fluid banner-radius" alt="Happy Customer" width="580" height="507">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 text-right about-left">
                        <div class="section-title-main">
                            <h3 class="section-subtitle p-relative">
                                درباره ما
                            </h3>
                            <div class="section-title-wrap">
                                <h2 class="section-title font-weight-normal lh-2">
                                    معرفی شرکت<b> جرثقیل سفیر</b>
                                </h2>
                            </div>
                        </div>
                        <p class="section-desc text-grey">
                            ما در شرکت جرثقیل سفیر با بیش از 12 سال تجربه در زمینه اجاره و فروش انواع جرثقیل‌های سبک و سنگین، همراه مطمئن شما در پروژه‌های ساختمانی، صنعتی و عمرانی هستیم. تمرکز ما بر ارائه راهکارهای ایمن، به‌موقع و مقرون‌به‌صرفه است تا رضایت کامل مشتریان را کسب کنیم.
                        </p>
                        <div class="row about-main">
                            <div class="col-md-12">
                                <ul>
                                    <li class="section-subtitle p-relative mb-6">
                                        ارزش‌های کلیدی ما:
                                    </li>
                                    <li>ایمنی در اولویت</li>
                                    <li>
                                        <div>
                                            <img loading="lazy" decoding="async" width="46" height="12" src="{% static "images/border.png" %}">
                                        </div>
                                    </li>
                                    <li>شفافیت قیمت‌گذاری</li>
                                    <li>
                                        <div>
                                            <img loading="lazy" decoding="async" width="46" height="12" src="{% static "images/border.png" %}">
                                        </div>
                                    </li>
                                    <li>پشتیبانی 24/7</li>
                                    <li>
                                        <div>
                                            <img loading="lazy" decoding="async" width="46" height="12" src="{% static "images/border.png" %}">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="{% url "aboutus:about" %}" class="btn btn-blue">بیشتر</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefit-section text-center appear-animate" style="background-image: url(images/demos/demo-yoga/background1.jpg); background-position: center center;
            background-repeat: no-repeat; background-color: #FFF;">
            <div class="benefit-container section-bottom-margin container p-relative ">
                <figure class="floating d-flex justify-content-center" data-options='{"invertX":false,"invertY":false,"limitY":"0"}' data-floating-depth="0.1">
                    <img src="{% static "images/home/2.png" %}" class="layer" alt="crane" width="450" height="560">
                </figure>
                <div class="benefit-content row gutter-lg ltr">
                    <div class="col-md-6 col-12 benefit-left">
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon1 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 rtl">
                                <h2 class="icon-box-title">تامین و اجاره</h2>
                                <p>اجاره جرثقیل های سبک و سنگین.</p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-car-wrench"></i>
                                </span>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon2 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 rtl">
                                <h2 class="icon-box-title">خرید و فروش</h2>
                                <p>
                                    خرید و فروش انواع جرثقیل های سنگین و سبک.
                                </p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-gas-pump"></i>
                                </span>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon3 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 mb-0 rtl">
                                <h2 class="icon-box-title"> مشاوره </h2>
                                <p>
                                    ارایه ی مشاوره ی رایگان برای شما
                                </p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-light fa-address-card"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 benefit-right">
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon4 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-car-garage"></i>
                                </span>
                            </div>
                            <div class="icon-box-content pl-md-4">
                                <h2 class="icon-box-title"> حمل و نقل </h2>
                                <p>
                                    حمل و نقل جرثقیل های سنگین و سبک.
                                </p>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon5 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-gift-card"></i>
                                </span>
                            </div>
                            <div class="icon-box-content pl-md-4">
                                <h2 class="icon-box-title">پشتیبانی</h2>
                                <p>
                                    پشتیبانی برای مشترکان و مشتریان مجموعه
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="newarrival-section rtl text-right">
            <div class="container">
                <div class="section-title-main">
                    <h3 class="section-subtitle p-relative">
                        پربازدید ترین بلاگ ها
                    </h3>
                    <div class="section-title-wrap">
                        <h2 class="section-title">
                            بلاگ های <b>محبوبی</b> که شما انتخاب کرده اید .
                        </h2>
                        <a class="section-link" href={% url "blogs:blog-list" %}>
                            نمایش همه
                        </a>
                    </div>
                </div>
                <div class="owl-carousel owl-theme category-slider row appear-animate" data-owl-options="{
                    'nav': false,
                    'dots': true,
                    'margin': 20,
                    'loop': true,
                    'autoplay': true,
                    'autoplayTimeout':3000,
                    'rtl':true,
                    'autoHeight':true,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '480': {
                            'items': 2
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '992': {
                            'items': 4,
                            'dots': false
                        },
                        '1200': {
                            'items': 4,
                            'dots': false
                        }
                    }
                }">
                    {% for blog in blogs %}
                        <div class="product product-popular appear-animate fadeIn appear-animation-visible" data-animation-options="{'delay': '.3s'}" style="animation-duration: 1.2s;">
                            <figure class="product-media b-r-top">
                                <a href="{{ blog.get_absolute_url }}">
                                    <img src="{{ blog.image.url }}" alt="product" width="280" height="315">
                                </a>
                            </figure>
                            <div class="product-details rtl b-r-bottom">
                                <h3 class="product-name">
                                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                </h3>
                                <div class="listing-features">
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width:100%"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <p class="rating-reviews">(5.0)</p>
                                    </div>
                                </div>
                                <div class="listing-location-details">
                                    <div class="listing-price">
                                        <span>
                                            <i class="fa-regular fa-files"></i>
                                        </span>
                                        <p>
                                            {{ blog.content }}
                                        </p>
                                    </div>
                                </div>
                                <div class="product-action">
                                    <a href="{{ blog.get_absolute_url }}" class="btn btn-blue btn-blue-100">
                                        جزئیات و مشاهده
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="contact-section">
            <div class="container">
                <div class="section-title-main">
                    <h3 class="section-subtitle p-relative">
                        دریافت مشاوره سریع
                    </h3>
                    <div class="section-title-wrap">
                        <h2 class="section-title">
                            برای دریافت مشاوره <b>سریع</b> فرم را پر کنید
                        </h2>
                        <a class="section-link" href={% url "contacts:contact-us" %}>
                             تماس باما
                        </a>
                    </div>
                </div>
                <div class="row gutter-lg">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center mb-4">
                        <div class="w-100 contact-touch">
                            <div class="section-title-main">
                                <div class="section-title-wrap">
                                    <h2 class="section-title">
                                        فیلد های <b>ستاره دار</b> الزامی هستند
                                    </h2>
                                </div>
                            </div>
                            <form class="pl-lg-2" method="POST" action="{% url "contacts:contact-us" %}">
                                {% csrf_token %}
                                <input type="hidden" name="next_page" value="Home:home">
                                <div class="row mb-2">
                                    <div class="col-md-6 mb-4">
                                        <label>نام <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.f_name}}
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label>نام خانوادگی <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.l_name}}
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label>ایمیل <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.email }}
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label>شماره تماس <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.phone }}
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label>عنوان <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.title }}
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label>متن <i class="fa-solid fa-star-of-life"></i></label>
                                        {{ form.content }}
                                    </div>
                                </div>
                                <button class="btn btn-blue" type="submit">
                                    ارسال پیام
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="d-flex align-items-center h-100 contact-left">
                            <div>
                                <h3 class="banner-title font-weight-bold mb-4 main-title ">اطلاعات تماس</h3>
                                <div class="icon-box icon-box-side">
                                    <img src="{% static "images/icons/icon-8/location.png" %}" class="ml-2"/>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title">آدرس شرکت :</h4>
                                        <p>تهران خیابان گاندی جرثقیل سفیر</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <img src="{% static "images/icons/icon-8/phone.png" %}" class="ml-2"/>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title">تلفن :</h4>
                                        <p>
                                            <a href="tel:#"> 09127009280 </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side">
                                    <img src="{% static "images/icons/icon-8/email.png" %}" class="ml-2"/>
                                    <div class="icon-box-content rtl">
                                        <h4 class="icon-box-title">ایمیل : </h4>
                                        <p>
                                            <a href="mailto:miladjafari023@gmail.com">miladjafari023@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock main %}