{% extends "base.html" %}
{% load static %}



{% block title %}{% endblock title %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}


{% block main %}
<main class="main">
    <div class="page-content">
        <section class="section-slider ">
            <div class="container section-slider-wrap">
                <div class="col-lg-6 slider-info">
                    <h1>آنچه را که به دنبالش هستید پیدا کنید</h1>
                    <h3>بیش از 4000 جدیدترین خودرو  در نمایندگی ما </h3>
                    <p>شرکت جرثقیل صفیر دارای بهترین جرثقیل های روز دنیا است.</p>
                </div>
                <div class="col-lg-6 slider-img">
                    <figure>
                        <a href="#">
                            <img src="{% static "images/car-silver.png" %}" class="product-hover-image" alt="product">
                        </a>
                    </figure>
                </div>
            </div>
        </section>
        <section class="newarrival-section rtl text-right">
            <div class="container">
                <div class="section-title-main">
                    <h3 class="section-subtitle p-relative">
                        محبوب ترین جرثقیل ها
                    </h3>
                    <div class="section-title-wrap">
                        <h2 class="section-title">
                            جرثقیل های <b>پرطرفداری</b> که شما انتخاب کرده اید .
                        </h2>
                        <a class="section-link" href={% url "cranes:crane-list" %}>
                            نمایش همه
                        </a>
                    </div>
                </div>
                <div class="owl-carousel owl-theme category-slider row appear-animate" data-owl-options="{
                    'nav': false,
                    'dots': true,
                    'margin': 20,
                    'loop': false,
                    'autoplay': true,
                    'autoplayTimeout':3000,
                    'rtl':true,
                    'autoHeight':true,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '480': {
                            'items': 2
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 2
                        },
                        '992': {
                            'items': 2,
                            'dots': false
                        },
                        '1200': {
                            'items': 3,
                            'dots': false
                        }
                    }
                }">
                    {% for crane in cranes %}
                        <div class="product product-popular appear-animate fadeIn appear-animation-visible" data-animation-options="{'delay': '.3s'}" style="animation-duration: 1.2s;">
                            <figure class="product-media b-r-top">
                                <a href="{{ crane.get_absolute_url }}">
                                    <img src="{{ crane.image.url }}" alt="product" width="280" height="50%">
                                </a>
                            </figure>
                            <div class="product-details rtl b-r-bottom">
                                <h3 class="product-name">
                                    <a href="{{ crane.get_absolute_url }}">{{ crane.name }}</a>
                                </h3>
                                <div class="listing-features">
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width:100%"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <p class="rating-reviews">(5.0)</p>
                                    </div>
                                </div>
                                <div class="listing-location-details">
                                    <div class="listing-price">
                                        <span>
                                            <i class="fa-regular fa-files"></i>
                                        </span>
                                        <p>
                                            {{ crane.content }}
                                        </p>
                                    </div>
                                </div>
                                <div class="product-action">
                                    <a href="{{ crane.get_absolute_url }}" class="btn btn-blue btn-blue-100" title="مشاهده و انتخاب ">
                                        جزئیات و اجاره
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="benefit-section text-center appear-animate" style="background-image: url(images/demos/demo-yoga/background1.jpg); background-position: center center;
            background-repeat: no-repeat; background-color: #FFF;">
            <div class="benefit-container section-bottom-margin container p-relative ">
                <figure class="floating d-flex justify-content-center" data-options='{"invertX":false,"invertY":false,"limitY":"0"}' data-floating-depth="0.1">
                    <img src="{% static "images/benefit-img.png" %}" class="layer" alt="benefit" width="999" height="592">
                </figure>
                <div class="benefit-content row gutter-lg ltr">
                    <div class="col-md-6 col-12 benefit-left">
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon1 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 rtl">
                                <h2 class="icon-box-title">سرویس</h2>
                                <p>ماشین های ما بعد از هر سفر سرویس شده و وسایل مصرفی چک میشوند.</p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-car-wrench"></i>
                                </span>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon2 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 rtl">
                                <h2 class="icon-box-title">سوخت</h2>
                                <p>
                                    ماشین دریافتی از ما با باکی پر تحویل داده میشود
                                </p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-gas-pump"></i>
                                </span>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon3 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(-24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-content pr-md-4 mb-0 rtl">
                                <h2 class="icon-box-title"> راننده </h2>
                                <p> راننده های ما دارای پایه یک هستند و آموزش های تعمییر ماشین را دیده اند.</p>
                            </div>
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-light fa-address-card"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 benefit-right">
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon4 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-car-garage"></i>
                                </span>
                            </div>
                            <div class="icon-box-content pl-md-4">
                                <h2 class="icon-box-title"> امنیت </h2>
                                <p>تامین امنیت شما و خانواد هتان رادر سفر وظیفه خود میدانیم. </p>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon5 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-regular fa-gift-card"></i>
                                </span>
                            </div>
                            <div class="icon-box-content pl-md-4">
                                <h2 class="icon-box-title">هدایا و جوایز </h2>
                                <p>با ثبت شماره خود از جوایز دوره ای و هدایای ما با خبر شوید.</p>
                            </div>
                        </div>
                        <div class="icon-box icon-box-side icon-border appear-animate benefit-icon6 skrollr"
                                data-options='{"data-bottom-top":"transform: translate(24%, 0);","data-center":"transform: translate(0%, 0);"}'
                                data-animation-options="{
                            'name': 'zoomIn',
                            'delay': '.3s'
                        }">
                            <div class="icon-box-icon">
                                <span class="icon">
                                    <i class="fa-solid fa-person-dolly"></i>
                                </span>
                            </div>
                            <div class="icon-box-content pl-md-4">
                                <h2 class="icon-box-title">خدمات </h2>
                                <p>ارائه خدمات حمل وسایل و خرید های شما</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="newarrival-section rtl text-right">
            <div class="container">
                <div class="section-title-main">
                    <h3 class="section-subtitle p-relative">
                        پربازدید ترین بلاگ ها
                    </h3>
                    <div class="section-title-wrap">
                        <h2 class="section-title">
                            بلاگ های <b>محبوبی</b> که شما انتخاب کرده اید .
                        </h2>
                        <a class="section-link" href={% url "blogs:blog-list" %}>
                            نمایش همه
                        </a>
                    </div>
                </div>
                <div class="owl-carousel owl-theme category-slider row appear-animate" data-owl-options="{
                    'nav': false,
                    'dots': true,
                    'margin': 20,
                    'loop': false,
                    'autoplay': true,
                    'autoplayTimeout':3000,
                    'rtl':true,
                    'autoHeight':true,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '480': {
                            'items': 2
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '992': {
                            'items': 4,
                            'dots': false
                        },
                        '1200': {
                            'items': 4,
                            'dots': false
                        }
                    }
                }">
                    {% for blog in blogs %}
                        <div class="product product-popular appear-animate fadeIn appear-animation-visible" data-animation-options="{'delay': '.3s'}" style="animation-duration: 1.2s;">
                            <figure class="product-media b-r-top">
                                <a href="{{ blog.get_absolute_url }}">
                                    <img src="{{ blog.image.url }}" alt="product" width="280" height="315">
                                </a>
                            </figure>
                            <div class="product-details rtl b-r-bottom">
                                <h3 class="product-name">
                                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                </h3>
                                <div class="listing-features">
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width:100%"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <p class="rating-reviews">(5.0)</p>
                                    </div>
                                </div>
                                <div class="listing-location-details">
                                    <div class="listing-price">
                                        <span>
                                            <i class="fa-regular fa-files"></i>
                                        </span>
                                        <p>
                                            {{ blog.content }}
                                        </p>
                                    </div>
                                </div>
                                <div class="product-action">
                                    <a href="{{ blog.get_absolute_url }}" class="btn btn-blue btn-blue-100">
                                        جزئیات و مشاهده
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock main %}