{% extends "base.html" %}
{% load static %}


{% block title %}{% endblock title %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}


{% block main %}
<main class="main bg-gray single-product rtl text-right">
    <div class="page-content">
        <div class="container ltr section-bottom-padding">
            <div class="row main-content-wrap">
                <div class="container">
                    <div class="page-header section-bottom-margin">
                        <ul class="breadcrumb">
                            <li><a href="{% url "home:home" %}"><i class="fa-light fa-home"></i></a></li>
                            <li class="delimiter"><i class="fa-regular fa-rhombus"></i></li>
                            <li><a href="{% url "home:home" %}">صفحه ی اصلی</a></li>
                            <li class="delimiter"><i class="fa-regular fa-rhombus"></i></li>
                            <li><a href="{% url "cranes:crane-list" %}">جرثقیل ها</a></li>
                            <li class="delimiter"><i class="fa-regular fa-rhombus"></i></li>
                            <li>{{ crane.name }}</li>
                        </ul>
                    </div>
                </div>
                <aside class="col-lg-3 sidebar sidebar-fixed sticky-sidebar-wrapper sidebar-toggle-remain shop-sidebar rtl">
                    <div class="sidebar-overlay">
                        <a class="sidebar-close" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar">
                            <div class="service-list mb-4 rtl text-right">
                                <div class="driver-wrap">
                                    <div class="icon-box with-driver driver">
                                        <div class="driver-header">
                                            <h4>قیمت اجاره {{ crane.name }}</h4>
                                            <h5>با راننده</h5>
                                        </div>
                                        <div class="rate-icon">
                                            <i class="fa-light fa-id-card"></i>
                                        </div>
                                        <div class=" driver-content ">
                                            <h6 class="text-dark"> 2024 - 2022</h6>
                                            <ul class="widget-body filter-items">
                                                <li class="store-name">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span>از ۳ تا ۶ روز: </span><span class="span-left">۱,۳۹۰,۰۰۰ تومان</span>
                                                </li>
                                                <li class="seller-name">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span> از ۷ تا ۲۱ روز :</span><span class="span-left">۱,۲۹۰,۰۰۰ تومان</span>
                                                </li>
                                                <li class="store-address">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span>بیشتر از ۲۱ روز  :</span><span class="span-left">۱,۱۹۰,۰۰۰ تومان</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="driver-wrap">
                                    <div class="icon-box with-driver driver">
                                        <div class="driver-header">
                                            <h4>قیمت اجاره {{ crane.name }}</h4>
                                            <h5>بدون راننده</h5>
                                        </div>
                                        <div class="rate-icon">
                                            <i class="fa-light fa-car-rear"></i>
                                        </div>
                                        <div class=" driver-content ">
                                            <h6 class="text-dark"> 2024 - 2022</h6>
                                            <ul class="widget-body filter-items">
                                                <li class="store-name">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span>از ۳ تا ۶ روز: </span><span class="span-left">۱,۳۹۰,۰۰۰ تومان</span>
                                                </li>
                                                <li class="seller-name">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span> از ۷ تا ۲۱ روز :</span><span class="span-left">۱,۲۹۰,۰۰۰ تومان</span>
                                                </li>
                                                <li class="store-address">
                                                    <i class="fa-solid fa-check"></i>
                                                    <span>بیشتر از ۲۱ روز  :</span><span class="span-left">۱,۱۹۰,۰۰۰ تومان</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 rtl">
                    <div class="product product-single col bg-white-r">
                        <div class="col-md-12">
                            <div class="product-details rtl">
                                <h1 class="product-name">
                                    {{ crane.name }}
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="product-gallery">
                                <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no ltr">
                                    <figure class="product-image">
                                        <img src="{{ crane.image.url }}" data-zoom-image="{{ crane.image.url }}" alt="{{ crane.name }}" width="800" height="900">
                                    </figure>
                                    {% for image in crane.crane_images.all %}
                                        <figure class="product-image">
                                            <img src="{{ image.image.url  }}" data-zoom-image="{{ image.image.url }}" alt="{{ crane.name }}" width="800" height="900">
                                        </figure>
                                    {% endfor %}
                                </div>
                                <div class="product-thumbs-wrap ltr">
                                    <div class="product-thumbs">
                                        <div class="product-thumb active">
                                            <img src="{{ crane.image.url }}" alt="{{ crane.name }}" width="109" height="122">
                                        </div>
                                        {% for image in crane.crane_images.all %}
                                            <div class="product-thumb">
                                                <img src="{{ image.image.url }}" alt="{{ crane.name }}" width="109" height="122">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="thumb-up disabled">
                                        <i class="fas fa-chevron-right"></i>
                                    </button>
                                    <button class="thumb-down disabled">
                                        <i class="fas fa-chevron-left"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bg-white-r mb-4">
                            <div class="col-md-12">
                                <div class="section-title-main">
                                    <h3 class="section-subtitle p-relative">
                                        اطلاعات {{ crane.name }}
                                    </h3>
                                    <div class="section-title-wrap">
                                        <h2 class="section-title">
                                            اطلاعات بیشتر درمورد <b>{{ crane.name }} </b> که به شما کمک می کند
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            {% for content in crane.crane_contents.all %}
                                <div class="row mt-6">
                                    <div class="col-md-12">
                                        <h5 class="description-title mb-4 font-weight-semi-bold">{{ content.title }}</h5>
                                        <p class="mb-2">{{ content.content }}</p>
                                        <div>
                                            <img src="{{ content.image.url }}" alt="{{ content.title }}"/>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    <div class="row bg-white-r mb-4">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="section-title-main">
                                    <h3 class="section-subtitle p-relative">
                                        خودرو  های مرتبط
                                    </h3>
                                    <div class="section-title-wrap">
                                        <h2 class="section-title">
                                            برترین خودرهای <b> مرتبط </b> با انتخاب شما
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-carousel owl-theme category-slider row appear-animate" data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": true,
                                "autoplay": true,
                                "autoplayTimeout":3000,
                                "rtl":true,
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "576": {
                                        "items": 2
                                    },
                                    "768": {
                                        "items": 3
                                    },
                                    "992": {
                                        "items": 3,
                                        "dots": false
                                    }
                                }
                            }'>
                                {% for crane in other_cranes %}
                                    <div class="product product-popular appear-animate fadeIn appear-animation-visible" data-animation-options="{'delay': '.3s'}" style="animation-duration: 1.2s;">
                                        <figure class="product-media">
                                            <a href="{{ crane.get_absolute_url }}">
                                                <img src="{{ crane.image.url }}" alt="{{ crane.name }}" width="280" height="315">
                                            </a>
                                            <div class="featured-wrap"><span class="featured-text featured-special ">ویژه</span></div>
                                        </figure>
                                        <div class="product-details rtl b-r-bottom">
                                            <h3 class="product-name">
                                                <a href="{{ crane.get_absolute_url }}">{{ crane.name }}</a>
                                            </h3>
                                            <div class="listing-features">
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <a href="{{ crane.get_absolute_url }}" class="rating-reviews">( 5.0 )</a>
                                                </div>
                                            </div>
                                            <div class="product-action">
                                                <a href="{{ crane.get_absolute_url }}" class="btn btn-blue btn-blue-100 btn-quickview" title="مشاهده و انتخاب ">جزئیات و اجاره</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main %}