{% extends "base.html" %}
{% load static %}

{% block title %}لیست مقالات{% endblock title %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}


{% block main %}
<main class="main bg-gray rtl text-right">
    <div class="container">
        <div class="page-header section-bottom-margin">
            <ul class="breadcrumb">
                <li><a href="{% url "home:home" %}"><i class="fa-light fa-home"></i></a></li>
                <li class="delimiter"><i class="fa-regular fa-rhombus"></i></li>
                <li><a href="{% url "home:home" %}">صفحه ی اصلی</a></li>
                <li class="delimiter"><i class="fa-regular fa-rhombus"></i></li>
                <li>لیست مقالات</li>
            </ul>
        </div>
    </div>
    <div class="page-content with-sidebar">
        <div class="container">
            <div class="row gutter-lg">
                <div class="col-lg-9">
                    <div class="posts grid post-grid row" data-grid-options="{'layoutMode': 'fitRows'}">
                        {% for blog in blogs %}
                            <div class="grid-item col-md-6 col-xs-6">
                                <article class="post post-wrap mb-3">
                                    <figure class="post-media post-media-wrap">
                                        <a href="{% url "blogs:blog-detail" blog.slug %}">
                                            <img src="{{ blog.image.url }}" width="430" height="300" alt="{{ blog.title }}" />
                                        </a>
                                    </figure>
                                    <div class="post-details post-details-wrap rtl">
                                        <div class="post-main rtl">
                                            <div class="post-date-wrap"><i class="fa-light fa-calendar-days"></i><a class="post-date">{{ blog.published_date }}</a></div>
                                            <div class="post-author-wrap">
                                                <span class="post-author"><i class="fa-thin fa-user-circle"></i>{{ blog.title }}</span>
                                                <span><i class="fa-light fa-comment-quote"></i><a class="post-comment"><span> {{ blog.comments.all.count }} </span>  نظر </a></span>
                                            </div>
                                            <h4 class="post-title">
                                                <a href="{% url "blogs:blog-detail" blog.slug %}">
                                                    {{ blog.title }}
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                    <ul class="pagination mt-5 rtl">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                                aria-disabled="true">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link page-link-prev" href="#" aria-label="Next">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <aside class="col-lg-3 sidebar sidebar-fixed sticky-sidebar-wrapper rtl">
                    <div class="sidebar-overlay">
                    </div>
                    <a class="sidebar-close" href="#">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                    <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar" data-sticky-options="{'top': 89, 'bottom': 70}">
                            <div class="widget widget-search">
                                <form action="#" class="input-wrapper input-wrapper-inline btn-absolute">
                                    <input type="text" class="form-control" name="search" autocomplete="off"
                                            placeholder="جستجو در مقالات" required />
                                    <button class="btn btn-search btn-link" type="submit">
                                        <i class="fa-light fa-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="widget widget-collapsible">
                                <h6 class="widget-title"><i class="fa-light fa-newspaper"></i>دسته بندی مقالات</h6>
                                <ul class="widget-body filter-items search-ul">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url "blogs:blog-list-category" category.slug %}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h6 class="widget-title"><i class="fa-light fa-eye"></i> مقالات پربازدید</h6>
                                <div class="widget-body ">
                                    <div class="post-col">
                                        {% for blog in most_viewed %}
                                            <div class="post post-list-sm">
                                                <figure class="post-media">
                                                    <a href="{% url "blogs:blog-detail" blog.slug %}">
                                                        <img src="{{ blog.image.url }}" width="180" height="90" alt="{{ blog.title }}" />
                                                    </a>
                                                </figure>
                                                <div class="post-details rtl">
                                                    <h4 class="post-title">
                                                        <a href="{% url "blogs:blog-detail" blog.slug %}">{{ blog.title }}</a>
                                                    </h4>
                                                    <div class="post-meta">
                                                        <span><i class="fa-light fa-calendar-days "></i><a href="#" class="post-date">1404/08/02</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
{% endblock main %}